html {
    font-family: "Titillium Web", sans-serif;
  }

  body {
      background-image: linear-gradient(to right, red, rgb(148, 9, 9));
  }

  .container {
    box-shadow: 3px 4px rgb(2, 16, 22);
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    background: white;
    opacity: .8;
    margin: 1rem 2rem;
    text-shadow: 1px .5px white;
    color: black;
    font-family: Georgia, serif;
  }

  #house-pop-up {
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    height: auto;
    display: none;
    background: white;
    opacity: .8;
    box-shadow: 3px 4px black;
    margin: 1rem 2rem;
    text-shadow: 1px .5px white;
    color: black;
    font-family: Georgia, serif;
   } 

   .family-selector {
    border-radius: 6px 16px;
    padding: 1rem;
    width: 420px;
    height: auto;
    display: none;
    background: white;
    opacity: .8;
    box-shadow: 3px 4px black;
    margin: 1rem 2rem;
    text-shadow: .5px .5px white;
    color: black;
    font-family: Georgia, serif;
   }

   .card {
    border-radius: 15px 40px;
    text-align: center;
    border: grey solid 2px;
    padding: 20px;
    width: 200px;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px black;
    background-color: white;
    font-family: Georgia, serif;
  }
